n8n-workflow.json
{
  "name": "Cuban Tank - Apply for Coaching",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "webhookId": "cubantank-apply"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "phoneE164",
              "value": "={{ '+' + $json.phone.replace(/[^0-9]/g, '') }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "smsToClient",
              "value": "=Hi {{ $json.firstName }}! This is Cris from Cuban Tank. Got your application - I'll reach out personally within 24h to go over the next steps. Reference: {{ $json.reference }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "smsToOwner",
              "value": "=NEW LEAD - {{ $json.firstName }} {{ $json.lastName }} | {{ $json.phone }} | {{ $json.email }} | ref {{ $json.reference }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2",
      "name": "Prepare",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "REPLACE_WITH_TWILIO_NUMBER",
        "to": "={{ $json.phoneE164 }}",
        "toWhatsapp": false,
        "message": "={{ $json.smsToClient }}",
        "options": {}
      },
      "id": "3",
      "name": "SMS to Client",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [80, -120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "send",
        "from": "REPLACE_WITH_TWILIO_NUMBER",
        "to": "REPLACE_WITH_CRIS_PHONE",
        "toWhatsapp": false,
        "message": "={{ $json.smsToOwner }}",
        "options": {}
      },
      "id": "4",
      "name": "SMS to Owner",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [80, 120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {}
      },
      "id": "5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [320, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Prepare", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          { "node": "SMS to Client", "type": "main", "index": 0 },
          { "node": "SMS to Owner", "type": "main", "index": 0 }
        ]
      ]
    },
    "SMS to Client": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    },
    "SMS to Owner": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
