n8n-workflow.json
{
  "name": "Cuban Tank - Apply for Coaching",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "webhookId": "cubantank-apply"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "phoneE164",
              "value": "={{ '+' + $json.phone.replace(/[^0-9]/g, '') }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "smsBody",
              "value": "=Hi {{ $json.firstName }}! This is Cris from Cuban Tank. Got your application - I'll reach out personally within 24h to go over the next steps. Reference: {{ $json.reference }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2",
      "name": "Prepare",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "REPLACE_WITH_TWILIO_NUMBER",
        "to": "={{ $json.phoneE164 }}",
        "toWhatsapp": false,
        "message": "={{ $json.smsBody }}",
        "options": {}
      },
      "id": "3",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [80, -120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "create",
        "application": "REPLACE_WITH_AIRTABLE_BASE_ID",
        "table": "Leads",
        "addAllFields": false,
        "fields": "First Name,Last Name,Email,Phone,Reference,Submitted At",
        "options": {}
      },
      "id": "4",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [80, 120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {}
      },
      "id": "5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [320, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Prepare", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          { "node": "Send SMS", "type": "main", "index": 0 },
          { "node": "Save to Airtable", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
